@import url(../node_modules/@sb1/ffe-core/less/ffe);
@import url(../node_modules/@sb1/ffe-buttons/less/buttons);
@import url(../node_modules/@sb1/ffe-icons/less/ffe-icons);
@import url(../node_modules/@sb1/ffe-webfonts/sb1-fonts);
@import url(../node_modules/@sb1/ffe-accordion/less/ffe-accordion);
@import url(../node_modules/@sb1/ffe-collapse-react/less/collapse);
@import url(../node_modules/@sb1/ffe-cards/less/cards);
@import url(../node_modules/@sb1/ffe-datepicker/less/datepicker);
@import url(../node_modules/@sb1/ffe-account-selector-react/less/ffe-account-selector);
@import url(../node_modules/@sb1/ffe-searchable-dropdown-react/less/ffe-searchable-dropdown);
@import url(../node_modules/@sb1/ffe-spinner/less/spinner);
@import url(../node_modules/@sb1/ffe-modals/less/modal.less);
// @import url(../node_modules/@sb1);
@fonts-url: "/fonts";

:root {
  font-size: xx-large;
}

body {
  margin: 0;
}

.tsqd-parent-container { --tsqd-font-size: 16px !important; }